<nav class="z-depth-0">
    <div class="nav-wrapper">
        <a href="{{ site.github.url }}" class="brand-logo"><img class="logo hide-on-med-and-down" src="{{ site.github.url }}/images/logo-white.png"></a>
        <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ site.github.url }}/">HOME</a></li>
            <li><a href="{{ site.github.url }}/blog/">BLOG</a></li>
            <li><a href="{{site.github.url }}/programs.html">PROGRAMS</a></li>
        </ul>
        <ul class="side-nav" id="mobile-nav">
            <li><a href="{{ site.github.url }}/">HOME</a></li>
            <li><a href="{{ site.github.url }}/blog/">BLOG</a></li>
            <li><a href="{{ site.github.url }}/programs">PROGRAMS</a></li>
        </ul>
    </div>
</nav>